/* Formatação de cabeçalho */
.cabecalho-lista {
  a{
    text-decoration: none;;
  }
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #112e61;
  font-weight: 600;
}

*{
  font-family: 'Montserrat', sans-serif;
}
