/* formata todos os elementos de texto */
* {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

/* Formata nosso h1 */
h1 {
  color: #404040;
  font-size: 35px;
}

/* Formatação de cabeçalho */
.cabecalho-lista a {
  text-decoration: none;
  color: #112e61; /* Cor do link */
}

.cabecalho-lista a:visited {
  color: #112e61; /* Cor do link visitado */
}

.cabecalho-lista {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #112e61;
  font-weight: 600;
}

/* Formatação da seção hero */
.p-hero {
  font-size: 19px;
}

.p-hero-botao {
  font-size: 24px;
  text-decoration: none;
}

/* Seção conteúdos grátis */
.h2-conteudos-gratis {
  font-size: 35px;
  spam {
    color: #7a40be;
  }
}

.h3-conteudos-gratis {
  font-size: 23px;
}

.lista-conteudos-gratis {
  font-size: 19px;
  a {
    text-decoration: none;;
  }
}