/* formata todos os elementos de texto */
* {
  font-family: "Montserrat", sans-serif;
  color: #404040;
}

/* Formata nosso h1 */
h1 {
  color: #404040;
  font-size: 35px;
}

h2 {
  font-weight: 400;
  font-size: 35px;
}

strong {
  font-weight: 600;
}

/* Formatação de cabeçalho */
.cabecalho-lista a {
  text-decoration: none;
  color: #112e61; /* Cor do link */
}

.cabecalho-lista a:visited {
  color: #112e61; /* Cor do link visitado */
}

.cabecalho-lista {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #112e61;
  font-weight: 600;
}

/* Formatação da seção hero */
.p-hero,
p {
  font-size: 19px;
}

.p-botao {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  span {
    text-decoration: none;
  }
}

/* Seção conteúdos grátis */
.h2-conteudos-gratis {
  font-size: 35px;
  span {
    font-weight: 600;
    color: #7a40be;
  }
}

.h3-conteudos-gratis {
  font-size: 23px;
}

.lista-conteudos-gratis {
  font-size: 19px;
  a {
    text-decoration: none;
  }
}

.h3-diferenciais {
  font-size: 24px;
  color: #005e88;
}

.p-diferenciais {
  font-size: 16px;
  color: #404040;
}

.h3-diferenciais-empresas {
  font-weight: normal;
  font-size: 35px;
  a {
    text-decoration: none;
    color: #005e88;
    font-weight: 600;
  }
  a:visited {
    color: #005e88;
    text-decoration: none;
  }
}

.h2-oquefalam,
.h2-comoajudar {
  font-weight: normal;
  span {
    font-weight: 600;
  }
}

.txt-postado {
  font-size: 16px;
  color: #404040;
  a {
    text-decoration: none;
    color: #f7a70c;
    font-weight: 600;
  }
}

.h4-blog {
  font-size: 24px;
  font-weight: 560;
  a {
    text-decoration: none;
  }
}

.p-blog {
  font-size: 17px;
}

.txt-comoajudar {
  font-size: 19px;
  a {
    /* text-decoration: none; */
    color: #008ff7;
    font-weight: 600;
  }
}

.txt-rodape-principal{
  font-size: 22px;
  font-weight: 600;
}

.txt-rodape-secundario{
  font-size: 20px;
  font-weight: 500;
}

.txt-rodape-terciario{
  font-size: 20px;
  font-weight: 500;
}

.txt-rodape{
  font-size: 16px;
  font-weight: 500;
}

.link-rodape{
  font-size: 16px;
  color: #1a77a4;
  text-decoration: underline;
}