/* Formatação H1 */
h1 {
  color: cadetblue;
}

h2 {
  color: cadetblue;
  font-family: Tahoma;
}

/* Formatação dos parágrafos por tags */
p  span{
  font-family: Tahoma;
  color: cadetblue;
}

/* Formatação dos parágrafos por IDs */
#Nome-Geind {
  font-weight: bold;
  font-family: Lucida Sans;
  color: coral;
}

/* Formatação dos parágrafos por classes */
.numoa {
  font-family: Arial;
  color: #f30d0d;
  font-weight: bold;
}
/*  */
