/* formata todos os elementos de texto */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f4f5f7
}

/* Formata nosso h1 */
h1 {
  color: #404040;
  font-size: 3.5rem;
}

h2 {
  font-weight: 400;
  font-size: 3.5rem;
}

strong {
  font-weight: 600;
}

/* Formatação de cabeçalho */
.cabecalho-lista a {
  text-decoration: none;
  color: #112e61; /* Cor do link */
}

/* .cabecalho-lista a:link{

} */

/* .cabecalho-lista a:active {
  color: #112e61; /* Cor do link visitado 
}*/

.cabecalho-lista a:visited {
  color: #112e61; /* Cor do link visitado */
}

.cabecalho-lista a:active,
.cabecalho-lista a:hover {
  color: #f60; /* Cor do link ao passar o mouse */
}
.cabecalho-lista {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #112e61;
  font-weight: 600;
  font-size: 1.4rem;
  display: none;
}

/* Formatação da seção hero */
.p-hero,
p {
  font-size: 1.9rem;
}

.p-botao {
  display: inline-block;
  font-weight: 600;
  font-size: 2.4rem;
  text-decoration: none;
  border-radius: 2rem;
}

.p-botao-hero {
  display: inline-block;
  font-weight: 600;
  font-size: 2.4rem;
  text-decoration: none;
  border-radius: 2rem;
  background-image: linear-gradient(180deg, #ff645e, #ff9253);
  padding: 0.65rem 2.5rem;
  border-bottom: solid 0.4rem #993c38;
  border-right: solid 0.4rem #993c38;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);

  span {
    color: white;
  }

  /* a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  span {
    text-decoration: none;
    color: white;
  } */
}

.p-botao-hero:hover {
  background-color: white;
  background-image: none;
  border-bottom:
    solid 0,
    4rem white;
  border-right:
    solid 0,
    4rem white;
  color: #993c38;

  span {
    color: #993c38;
  }
}

/* Seção conteúdos grátis */
.h2-conteudos-gratis {
  font-size: 2.7rem;
  line-height: 1.4;
  span {
    font-weight: 600;
    color: #7a40be;
  }
}

.h3-conteudos-gratis {
  font-size: 2.3rem;
}

.lista-conteudos-gratis {
  font-size: 1.9rem;
  a {
    text-decoration: none;
  }
}

.h3-diferenciais {
  font-size: 2.4rem;
  color: #005e88;
}

.p-diferenciais {
  font-size: 1.6rem;
  color: #404040;
}

.h3-diferenciais-empresas {
  font-weight: normal;
  font-size: 3.5rem;
  a {
    text-decoration: none;
    color: #005e88;
    font-weight: 600;
  }
  a:visited {
    color: #005e88;
    text-decoration: none;
  }
}

.h2-oquefalam,
.h2-comoajudar {
  font-weight: normal;
  span {
    font-weight: 600;
  }
}

.txt-postado {
  font-size: 1.6rem;
  color: #404040;
  a {
    text-decoration: none;
    color: #f7a70c;
    font-weight: 600;
  }
}

.h4-blog {
  font-size: 2.4rem;
  font-weight: 560;
  a {
    text-decoration: none;
  }
}

.p-blog {
  font-size: 1.7rem;
}

.txt-comoajudar {
  font-size: 1.9rem;
  a {
    /* text-decoration: none; */
    color: #008ff7;
    font-weight: 600;
  }
  a:hover{
    color: #0056b3;
  }
}

.txt-rodape-principal {
  font-size: 2.2rem;
  font-weight: 600;
}

.txt-rodape-secundario {
  font-size: 2rem;
  font-weight: 500;
}

.txt-rodape-terciario {
  font-size: 2rem;
  font-weight: 500;
}

.txt-rodape {
  font-size: 1.6rem;
  font-weight: 500;
}

.link-rodape {
  font-size: 1.6rem;
  color: #1a77a4;
  text-decoration: underline;
}

.item-lista-cabecalho-contem-filhos::after {
  content: "\2bc6";
}

.meu-cabecalho {
  padding: 1.28rem 2.5rem;
  box-shadow: 0 0.33rem 0.4rem rgba(0, 0, 0, 0.15);
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
}

.secao-hero {
  padding-top: 7rem;
  padding-bottom: 8rem;
  background-image: url("https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUN-banner-01.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

.div-conteudos-gratis {
  background-image: url("https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUN-banner-02.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-conteudos {
  width: 44rem;
}

/* faz o meu h3 ter ficar dentro de uma caixa arredondada, roxa com degradê linear pra baixo, padding horizontal de 0.42
e vertical de 1.6 e uma inclinação pra cima de -3graus */
.caixa-gratuito-h3 {
  position: absolute;
  top: 0;
  left: 50%;
  background-image: linear-gradient(90deg, #aa56e6, #6d42b9);
  display: inline-block;
  padding: 0.42rem 1.6rem;
  color: white;
  border-radius: 1rem;
  transform: translate(-50%, -50%) rotate(-3deg);
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.caixa-gratuito-treinamentos {
  position: relative;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  border-radius: 2.5rem;
  padding: 2rem;
}

.circulo-conteudos-cursos {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #e7e7e7;
  border-radius: 50%;
  padding: 0.52rem;
}

.circulo-conteudos-cursos img {
  width: 100%;
}

.gratuito-link-lista {
  display: inline-block;
  padding: 0.42rem 1.6rem;
  background-color: #eee;
  border-radius: 1.5rem;
  font-size: 1.92rem;
  text-decoration: none;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
}

.div-diferenciais {
  background-color: #f4f5f7;
}

.caixa-diferenciais-h2 {
  border-left: solid 0.5rem #ffb20f;
  padding: 0.52rem 0 0.52rem 2rem;
}

.container-diferenciais {
  border-radius: 5rem;
  background-color: white;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  /* padding: 4.88rem 3.12rem; */
}

.caixa-titulo-diferenciais {
  background-image: linear-gradient(225deg, #196b9f, #196b9f);
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding: 4.88rem;
  color: white;
}

.caixa-diferenciais-restante {
  padding: 4.8rem;
}

.caixa-itens-diferenciais {
  position: relative;
  border-radius: 2.5rem;
  border: 1rem;
  border-color: white;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 3.9rem 2.5rem;
}

.box-img-diferenciais {
  display: inline-block;
  border-radius: 2rem;
  border: 1rem;
  background-color: #ffaf00;
  box-shadow: 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  box-shadow: inset 0 0 0.4rem 0.2rem rgba(0, 0, 0, 0.15);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0;
  left: 50%;
}

.diferenciais-empresas {
  text-align: center;
}

.diferenciais-empresas img {
  height: 5rem;
  filter: grayscale(100%);
  opacity: 50%;
}

/* Seção o que falam */
.secao-o-que-falam {
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUN-banner-04.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.oquefalam-titulo {
  color: white;
}

.oquefalam-carrossel {
  position: relative;
}

.oquefalam-img-carrossel {
  background-color: #7489af;
  background-blend-mode: multiply;
  position: relative;
  display: inline-block;
  background-position: 50%;
  background-size: cover;
  aspect-ratio: 16/9;
  width: 33%;
  border-radius: 2.5rem;
}

.oquefalam-img-carrossel--1 {
  background-image: url("https://i3.ytimg.com/vi/N_EZD04zmrw/hqdefault.jpg");
}

.oquefalam-img-carrossel--2 {
  background-image: url("https://i3.ytimg.com/vi/auqWeBJLJHY/hqdefault.jpg");
}

.oquefalam-img-carrossel--3 {
  background-image: url("https://i3.ytimg.com/vi/FD79IpCaM1Y/hqdefault.jpg");
}

.oquefalam-seta {
  position: absolute;
  top: 50%;
}

.seta-esquerda {
  cursor: pointer;
  left: 0;
  transform: translate(-150%, -70%);
}
.seta-direita {
  cursor: pointer;
  right: 0;
  transform: translate(150%, -70%);
}

.seta-play {
  cursor: pointer;
  width: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-navegacao {
  display: inline-block;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #86a8bc;
}

.ativa {
  background-color: #14577f;
}

.botao-oquefalam {
  background-image: linear-gradient(180deg, #196c9f, #1a80a7);
  border-bottom-color: #14577f;
  border-right-color: #14577f;
  padding: 0.65rem 2.5rem;
  color: white;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.botao-oquefalam:hover {
  background-image: none;
  background-color: #1a80a7;
  border-bottom-color: #14577f;
  border-right-color: #14577f;
  padding: 0.65rem 2.5rem;
  color: white;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
}

.secao{
  padding: 8rem;
}


/* secao na midia */
.secao-na-midia{
  padding-top: 3.9rem ;
  padding-bottom: 3.9rem ;
  background-image: url("https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-Banner-05_1.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.seta-na-midia,
.h2-na-midia{
  display: inline-block;
}

.secao-blog{
  background-color: #f4f5f7;
  padding: 8rem;
}

.container-blog{
  margin-top: 1rem;
  position: relative;
  border-radius: 5rem;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 4.88rem;
}

.caixa-blog-h2{
  font: 3.5rem;
  color: white;
  font-weight: 40rem;
  margin-top: -25px;
  padding: 0.7rem 2.5rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%) rotate(-3deg);
  background-image: linear-gradient(90deg, #feb914, #f6a50b);
  text-wrap: nowrap;
  border-radius: 1rem;
  width: max-content;
}

.caixa-post-blog{
  display: inline-block;
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.3rem rgba(0, 0, 0, 0.15);
  padding: 2rem ;
  width: 35% ;
  text-decoration: none;
}

.caixa-post-blog img{
  width: 100%;
}

/* secao como ajudar */
.secao-como-ajudar{
  padding: 0;
}

.secao-sec-laranja{
  background-image: url(https://www.hashtagtreinamentos.com/wp-content/uploads/2022/06/BACKGROUND-banner-07.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.secao-sec-laranja,
.secao-sec-cinza {
padding: 7.63rem 2rem;
}

.caixa-como-ajudar-h2{
  display: inline-block;
  padding: 0.42rem 1.6rem;
  color: white  ;
  border-radius: 1rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(90deg, #14a1d5, #1a8ad4)
}

.como-ajudar-lista{
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.8rem 0.15rem rgba(0, 0, 0, 0.15);
  padding: 2rem ;
  background-color: #f9f9f9;
}


.como-ajudar-lista a:hover,
.como-ajudar-lista a:active{
  color: #0056b3;
}